version: "3.8"
services:
  app:
    build:
      context: ./App
    container_name: app
    restart: always
    ports:
      - "9876:9876"          # akses langsung via host IP:port
    environment:
      PORT: 9876
      DATABASE_URL: postgresql://postgres:Admin%401234@103.153.60.136:5432/postgres?schema=public
      JWT_SECRET: isi_secret_panjang
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`ashanum.com`)"
      - "traefik.http.routers.app.entrypoints=websecure"
      - "traefik.http.routers.app.tls.certresolver=myresolver"
      - "traefik.http.services.app.loadbalancer.server.port=9876"
    networks:
      - proxy

networks:
  proxy:
    external: true
